<nav>

    <ul> <!-- Icons toevoegen -->
        <li><a href="/">Search</a></li>
        <li><a href="/">Book</a></li>
        <li><a href="/">Manage</a></li>
        <li><a href="/">Account</a></li>
    </ul>

</nav>